[Unit]
Description=MariaDB database server
After=syslog.target
After=mariadb-install-db.service
Requires=mariadb-install-db.service

[Service]
User=mysql
Group=mysql
ExecStart=/usr/bin/mysqld --pid-file=/run/mariadb/mariadb.pid
TimeoutSec=300
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
